{% extends 'base.html.twig' %}

{% block title %}Fiszlet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}

<div class="setContainer">
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
    <div class="wordSet">
        <span id="set_id" hidden>1</span>
        <img src="{{ asset('images/monitor.png') }}">
        <h1>Monitor</h1>
        <span>5 words</span>
    </div>
</div>


<h2>User Types</h2>
<ul>
    {% for userType in user_types %}
        <li>{{ userType.type }}</li>
    {% endfor %}
</ul>

{% endblock %}